<label class="label">{{ label }}</label>
<!-- [disabled] rende il menu non apribile e non focalizzabile quando @Input disabled è true -->
<p-select
    [options]="options"
    [(ngModel)]="selected"
    (ngModelChange)="selectedChange.emit($event)"
    optionLabel="name"
    [filter]="true"
    [placeholder]="placeholder"
    [disabled]="disabled"
    class="w-full"
    >
        <!-- Item personalizzato -->
    <ng-template pTemplate="item" let-option>
        <div class="item-row">
        <span>{{ option.name }}</span>
            <button
                type="button"
                pButton
                icon="pi pi-trash"
                class="p-button-text p-button-danger p-button-sm ms-auto"
                (click)="removeOption(option, $event)">
            </button>
        </div>
    </ng-template>
    <ng-template #footer>
        <div class="p-3">
            <app-button label="Nuovo" class="btn-secondary" [fluid]="true" size="small" icon="pi pi-plus" />
        </div>
    </ng-template>   
</p-select>
