<div class="card">
  <p-table
    [value]="RisultatoFiltrato"
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        @for (col of columns; track col.field) {
          <th [style.width.%]="(100 - 8) / columns.length" [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        }

        <th style="width: 8%">Azioni</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
      <tr>
        @for (col of columns; track col.field) {
          <td>
            @if (col.type === 'date') {
              {{ row[col.field] | date: 'dd/MM/yyyy' }}
            } @else if (col.field === 'State') {
              <p-tag [value]="row[col.field]" [severity]="getSeverity(row[col.field])"></p-tag>
            } @else {
              {{ row[col.field] }}
            }
          </td>
        }

        <td>
          <p-menu #menu [model]="items" [popup]="true" appendTo="body"></p-menu>
          <p-button (click)="menu.toggle($event)" icon="pi pi-ellipsis-h"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
