.data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 120px;
  width: 10rem;
  background-color: #F8F9FA;
}
.p-data-body{
    background: #F8F9FA !important;
      padding: 0rem 0rem 0rem 1rem;

}
.label-container{
    display: flex;
    gap: 5rem;
}

.data-value {
  font-size: 3rem;
  font-weight: bold;
  color: #111827;
}
.Charts-Container{
    width: 80%;
    display: flex;
    gap: 1rem;
}
.Charts-Container app-analytics-charts {
  flex: 1 1 50%;   /*ogni grafico prende il 50% */
  max-width: 50%;
  max-height: 100%;
}
:host ::ng-deep canvas {
  height: 20rem; /* cambia qui */
}
.labels-datepicker{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
