<div class="d-flex flex-column h-100">
    <div class="d-flex gap-3 mb-2 justify-content-end menu-row">
        <menutendina [options]="(templates$ | async) || []" [(selected)]="selectedTemplate" label="Template" placeholder="Seleziona un template" [addButtonLabel]="'Nuovo template'" (addNew)="openAddDialog('template')"></menutendina>
    </div>
    <div class="mb-2">
        <app-prompt label="Messaggio" [value]="selectedTemplate?.content" [placeholder]="'Usa un template o scrivi un messaggio personalizzato'" [autoResize]="true"></app-prompt>
    </div>
    <div class="mt-auto d-flex gap-3 justify-content-end mb-0">
        <app-button label="Annulla invio" class="btn-secondary" (action)="closeDialog()" />
        <app-button label="Conferma invio" class="btn-primary" (action)="confirmDialog()" />
    </div>
</div>
<app-add-dialog [(visible)]="addDialogVisible" [type]="addDialogType"></app-add-dialog>
