/* Header sezione (AI ASSISTANT GENERATIVO, AI CO-PILOT PER CDL) */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
    font-size: var(--bs-body-font-size);
    background-color: var(--bg-light) !important;
}
/* Rimuove eventuale bordo */
.p-menu {
  border: none !important;
  box-shadow: none !important;
}
.p-menu .p-menu-submenu-label {
  font-size: 0.625rem;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  padding: 0 12px;
  margin-bottom: 4px;
  font-weight: 600;
}
:root{
  --p-button-primary-active-background: #4a4a4a !important;
  --p-select-focus-border-color: #383838 !important;
  --p-select-option-selected-color: #4a4a4a !important;
  --p-select-option-selected-focus-color: #4a4a4a !important;
  --p-select-option-selected-background: #f8f9fa !important;
  --p-select-option-hover-background: #e6e6e6 !important;
  --p-select-option-selected-focus-background: #f8f9fa !important;
  --p-paginator-nav-button-selected-background: #383838 !important;
  --p-paginator-nav-button-hover-background: #e6e6e6 !important;
  --p-paginator-nav-button-selected-color: #f8f9fa !important;
  --p-datatable-header-cell-selected-background: #f8f9fa !important;
  --p-datatable-header-cell-selected-color: #4a4a4a !important;
  --p-button-primary-background: #383838 !important;
  --p-button-primary-border-color: #383838 !important;
  --p-button-primary-hover-background: #4a4a4a !important;
  --p-button-secondary-background: #f3f3f3 !important;
  --p-button-secondary-hover-background: #e0e0e0 !important;
  --p-button-primary-hover-border-color: #4a4a4a !important;
  --p-rating-icon-hover-color: #383838 !important;
  --p-rating-icon-active-color: #383838 !important;
  --bs-body-font-size: 0.875rem;
  --txt-color: rgba(12, 12, 13, 0.8509803922);
  --btn-border-radius: 0.75rem;
  --bg-light: #f8f9fa;
  
}
/* MENUATENDINA */
:root{
  --p-select-list-header-padding: 0.5rem !important;
  --p-inputtext-focus-border-color: rgba(194, 194, 194, 0.8) !important;
  --p-select-border-radius: 0.75rem !important;
  --p-select-focus-border-color: black !important;
  --p-select-option-focus-background: #f3f3f3 !important;
  --p-select-option-selected-background: #f3f3f3 !important;
  --p-textarea-focus-border-color: black !important;
  --p-select-option-padding:0.5em 0em !important;
  --bg-p-select: #f3f3f3;
}

:root{
  --p-rating-icon-size: 1.5rem !important;
  --p-rating-icon-hover-color:black !important;
}

.label{
    display: block;
    font-weight: 700;
    font-size: 0.625rem;
    text-transform: uppercase;
    text-align: left;
}